* {
    background-color: black;
    font-family: Verdana;
}

a {
    color: Aquamarine;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h1, h2 {
    text-align: center;
    color: white;
    font-family: Verdana;
}

p {
    text-align: center;
    color: grey;
    font-size: 21px;
}

#copyright {
    text-align: right;
}

img {
    text-align: center;
}